---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Service1 from "@/sections/Service1.astro";
import Service2 from "@/sections/Service2.astro";
---

<Layout>
  <main class="flex flex-1 flex-col">
    <Hero />
    <Service1 />
    <Service2 />
  </main>
</Layout>
