---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Services from "@/sections/Services.astro";
---

<Layout>
  <main class="flex flex-1 flex-col">
    <Hero />
    <Services />
  </main>
</Layout>
