---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Service1 from "@/sections/Service1.astro";
import Service2 from "@/sections/Service2.astro";
import Projects from "@/sections/Projects.astro";
import Contact from "@/sections/Contact.astro";
---

<Layout>
  <main class="flex flex-1 flex-col items-center">
    <Hero />
    <Service1 />
    <Service2 />
    <Projects />
    <Contact />
  </main>
</Layout>
