---
import { getI18n } from "@/i18n/config";

import Link from "@/components/Link.astro";
import Layout from "@/layouts/Layout.astro";

const { currentLocale } = Astro;
const { projects } = getI18n(currentLocale);
---

<Layout>
  <main class="flex flex-1 flex-col items-center">
    <section
      class="flex w-full max-w-7xl flex-1 flex-col items-center justify-center px-6 text-center"
    >
      <h1 class="text-5xl font-bold">
        {projects.title}
      </h1>

      <p class="mt-4 text-lg">
        {projects.description}
      </p>

      <Link href={projects.link_href} class="mt-10">
        {projects.link}
      </Link>
    </section>
  </main>
</Layout>
