---
import Link from "@/components/Link.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout lang="ca">
  <main class="flex flex-1 flex-col items-center">
    <section class="flex flex-1 flex-col items-center justify-center">
      <h1 class="text-5xl font-bold">Proyectos</h1>
      <p class="mt-4 text-lg">Página en construcción. Disculpe las molestias.</p>

      <Link href="/" class="mt-10">Volver al inicio</Link>
    </section>
  </main>
</Layout>
