---
import { getI18n } from "@/i18n/config";

import Iso from "@/assets/Iso.astro";
import Link from "./Link.astro";

const { currentLocale } = Astro;
const { header } = getI18n(currentLocale).home;
---

<header
  id="header-nav"
  class:list={[
    "fixed top-0 z-50 hidden w-full justify-center border-neutral-50/10 transition-all lg:flex",
    false && "border-b backdrop-blur-xl",
  ]}
>
  <nav class="flex w-full max-w-7xl items-center justify-between p-4">
    <a href={header.home_href}>
      <Iso class:list={["h-20 py-3 transition-all", false && "h-10"]} />
    </a>

    <div class="flex items-center gap-4">
      <a href="/" class="p-2 hover:underline">ESP</a>
      <p>|</p>
      <a href="/ca/" class="p-2 hover:underline">CAT</a>
    </div>
  </nav>
</header>
