<a
  href={Astro.props.href}
  target={Astro.props.target}
  class:list={[
    "border-sgl bg-sgl rounded-full border px-6 py-3 text-center font-medium text-neutral-950 transition-all hover:scale-105",
    Astro.props.class,
    Astro.props.alt && "!border-neutral-100 !bg-transparent !text-neutral-100",
  ]}
>
  <slot />
</a>
