<image-slider class="relative flex aspect-square w-80">
  <div
    class="relative flex aspect-square w-80 snap-x snap-mandatory overflow-x-auto rounded-xl border border-neutral-50/10 shadow-sm"
  >
    <img
      src="/totem-de-aluminio.jpg"
      alt="Alquiler de tótems de aluminio"
      class="size-full shrink-0 snap-center object-cover"
    />
    <img
      src="/totem-de-aluminio.jpg"
      alt="Alquiler de tótems de aluminio"
      class="size-full shrink-0 snap-center object-cover"
    />
    <img
      src="/totem-de-aluminio.jpg"
      alt="Alquiler de tótems de aluminio"
      class="size-full shrink-0 snap-center object-cover"
    />
  </div>

  <button
    class="left absolute left-0 top-1/2 flex size-6 items-center justify-center rounded-full bg-black"
    ><</button
  >
  <button class="right">></button>
</image-slider>

<style>
  .snap-x {
    scrollbar-width: none;
  }
</style>

<script>
  class ImageSlider extends HTMLElement {
    connectedCallback() {
      const leftButton = this.querySelector("button.left") as HTMLButtonElement;
      const rightButton = this.querySelector(
        "button.right"
      ) as HTMLButtonElement;

      leftButton.addEventListener("click", () => {
        this.scrollBy({
          behavior: "smooth",
          left: -100,
        });
      });

      rightButton.addEventListener("click", () => {
        this.scrollBy({
          behavior: "smooth",
          left: 100,
        });
      });
    }
  }

  customElements.define("image-slider", ImageSlider);
</script>
