---
import { getI18n } from "@/i18n/config";
import { totemImages } from "@/lib/images";

import Arrow from "@/assets/Arrow.astro";

const { currentLocale } = Astro;
const { service1 } = getI18n(currentLocale).home;
---

<div id="totemSlider" class="relative">
  <div
    class="relative flex aspect-square snap-x snap-mandatory overflow-x-auto overflow-y-clip rounded-xl border border-neutral-50/10 shadow-sm"
  >
    {
      totemImages.map(({ src, alt }) => (
        <img
          src={src}
          alt={alt}
          width="382"
          height="382"
          decoding="async"
          loading="lazy"
          class="snap-center object-cover"
        />
      ))
    }
  </div>

  <button
    id="prevBtn"
    class="absolute left-0 top-1/2 flex size-9 -translate-x-1/2 -translate-y-1/2 items-center justify-center rounded-full border border-neutral-50/10 bg-neutral-900/90 transition-transform hover:scale-110"
  >
    <p class="sr-only">
      {service1.totem_slider_prev}
    </p>
    <Arrow class="-ml-px h-6 rotate-180 text-neutral-50" />
  </button>
  <button
    id="nextBtn"
    class="absolute right-0 top-1/2 flex size-9 -translate-y-1/2 translate-x-1/2 items-center justify-center rounded-full border border-neutral-50/10 bg-neutral-900/90 transition-transform hover:scale-110"
  >
    <p class="sr-only">
      {service1.totem_slider_next}
    </p>
    <Arrow class="ml-px h-6 text-neutral-50" />
  </button>
</div>

<style>
  .snap-x {
    scrollbar-width: none;
  }
</style>

<script>
  const slider = document.querySelector("#totemSlider > div") as HTMLDivElement;
  const leftButton = document.querySelector("#prevBtn") as HTMLButtonElement;
  const rightButton = document.querySelector("#nextBtn") as HTMLButtonElement;

  leftButton.addEventListener("click", () => {
    const lastImage = slider.querySelector(
      "img:last-child"
    ) as HTMLImageElement;

    slider.scrollBy({
      behavior: "smooth",
      left: -slider.offsetWidth,
    });

    setTimeout(() => {
      lastImage.remove();
      slider.prepend(lastImage);
    }, 500);
  });

  rightButton.addEventListener("click", () => {
    const firstImage = slider.querySelector("img") as HTMLImageElement;

    slider.scrollBy({
      behavior: "smooth",
      left: slider.offsetWidth,
    });

    setTimeout(() => {
      firstImage.remove();
      slider.append(firstImage);
    }, 500);
  });
</script>
