<section id="clientes" class="flex flex-col items-center justify-center py-32">
  <h2 class="text-4xl font-bold">Clientes con los que trabajamos</h2>

  <ul
    class="flex max-w-7xl flex-wrap items-center justify-center gap-10 text-center mt-10"
  >
    <li>Primavera Sound</li>
    <li>Cobega</li>
    <li>Aynt Vilanova</li>
    <li>Aynt Camyellas</li>
    <li>Aynt Sitges</li>
    <li>Aynt Olivella</li>
    <li>Aynt Barcelona</li>
    <li>Aynt L'Hospitalet</li>
    <li>Aynt Santa Coloma</li>
    <li>Aynt de Sant Félix</li>
    <li>Accs Media Pro</li>
    <li>Airestar</li>
    <li>Festival Cine Sitges</li>
    <li>Rock Fest</li>
  </ul>
</section>
