---
import Logo from "@/assets/Logo.astro";
import Exp from "@/assets/Exp.astro";
import Link from "@/components/Link.astro";
import Clients from "./Clients.astro";
---

<section
  class:list={[
    "relative flex min-h-svh flex-col items-center py-20 md:pt-36",
    "before:absolute before:top-0 before:z-10 before:size-full before:bg-gradient-to-b before:from-neutral-950 before:to-neutral-950/0",
    "after:absolute after:bottom-0 after:z-10 after:size-full after:bg-gradient-to-t after:from-neutral-950 after:to-neutral-950/0",
  ]}
>
  <video
    src="/bg.webm"
    playsinline
    autoplay
    muted
    loop
    class="absolute inset-0 size-full object-cover opacity-80"
  >
  </video>

  <article
    class="z-20 flex max-w-4xl flex-col items-center justify-center px-6 text-center"
  >
    <Logo class="h-20 text-sgl md:h-24" />

    <p
      class="mt-8 inline-flex items-center gap-1 uppercase text-xs"
    >
      <Exp class="h-3 text-sgl" />
      30 años creando eventos
    </p>

    <h1 class="mt-6 text-4xl font-bold md:text-6xl">
      Instalaciones i tótems para eventos
    </h1>

    <p class="mt-6 text-lg md:mt-10">
      <span class="inline md:hidden">
        Soluciones diseñadas para garantizar la seguridad de tu evento
      </span>

      <span class="hidden md:inline"
        >En <strong>SGL Vilanova</strong>, ofrecemos alquiler de <strong
          >tótems de aluminio</strong
        > certificados y servicios de <strong>instalaciones eléctricas</strong> temporales
        para eventos. Nuestras soluciones están diseñadas para garantizar la seguridad
        y cumplir con la normativa.</span
      >
    </p>

    <div class="mt-6 flex flex-col justify-center gap-4 md:flex-row">
      <Link class="max-w-72 flex-auto">Solicita tu presupuesto</Link>
      <Link class="hidden max-w-72 flex-auto md:block" alt
        >Descubre nuestras soluciones</Link
      >
    </div>
  </article>

  <Clients />
</section>
