<section
  class="relative flex min-h-screen flex-col items-center justify-center"
>
  <!-- https://www.youtube.com/watch?v=mQ0v1bjOQWE -->
  <video
    src="/hero-bg.mp4"
    playsinline
    autoplay
    muted
    loop
    class="absolute inset-0 size-full object-cover"></video>
  <div class="absolute inset-0 bg-neutral-900/80"></div>

  <article
    class="z-10 flex max-w-4xl flex-col items-center justify-center text-center"
  >
    <p class="rounded-full bg-neutral-50/10 px-4 py-2 backdrop-blur shadow-sm">
      +30 años creando eventos seguros
    </p>

    <h1 class="text-6xl font-bold pt-2">
      Infraestructuras técnicas certificadas para eventos de cualquier escala
    </h1>

    <p class="mt-10">
      En SGL Vilanova, ofrecemos alquiler de tótems de aluminio certificados y
      servicios de instalaciones eléctricas temporales para eventos. Nuestras
      soluciones técnicas están diseñadas para garantizar la seguridad, cumplir
      con la normativa vigente y adaptarse a las necesidades de festivales,
      conciertos y otros eventos de cualquier tamaño.
    </p>

    <div class="mt-10 flex gap-4">
      <a
        href="#"
        class="rounded-md border border-orange-400 bg-orange-400 px-6 py-3 font-medium text-neutral-950"
      >
        Descubre nuestras soluciones
      </a>

      <a
        href="#"
        class="rounded-md border border-neutral-100 px-6 py-3 font-medium"
      >
        Solicita tu presupuesto
      </a>
    </div>
  </article>
</section>
