---
import Logo from "@/assets/Logo.astro";
import Exp from "@/assets/Exp.astro";
import Link from "@/components/Link.astro";
---

<section
  class:list={[
    "relative flex min-h-screen flex-col items-center justify-center",
    "before:absolute before:bottom-0 before:z-10 before:size-full before:bg-gradient-to-t before:from-neutral-950 before:to-transparent",
    "after:absolute after:bottom-0 after:z-10 after:size-full after:bg-gradient-to-b after:from-neutral-950 after:to-transparent"
  ]}
>
  <video
    src="/bg.webm"
    playsinline
    autoplay
    muted
    loop
    class="absolute inset-0 size-full object-cover"></video>

  <article
    class="z-20 flex max-w-4xl flex-col items-center justify-center text-center px-6 pt-32"
  >
    <Logo class="h-20 md:h-28 text-sgl" />

    <p
      class="mt-8 inline-flex items-center gap-2 rounded-full border border-neutral-50/10 bg-gradient-to-tr from-neutral-50/0 to-neutral-50/10 px-4 py-1 shadow-sm backdrop-blur-xl"
    >
      <Exp class="w-5 text-sgl" />
      <span> 30 años creando eventos seguros </span>
    </p>

    <h1 class="mt-4 text-3xl md:text-6xl font-bold">
      Infraestructuras técnicas certificadas para eventos
    </h1>

    <p class="mt-10 text-base md:text-lg">
      En <strong>SGL Vilanova</strong>, ofrecemos alquiler de <strong
        >tótems de aluminio</strong
      > certificados y servicios de <strong>instalaciones eléctricas</strong> temporales
      para eventos. Nuestras soluciones técnicas están diseñadas para garantizar
      la seguridad, cumplir con la normativa vigente y adaptarse a las necesidades
      de festivales, conciertos y cualquier otro tipo de eventos.
    </p>

    <div class="mt-10 flex flex-col md:flex-row justify-center gap-4">
      <Link class="flex-auto max-w-72">Solicita tu presupuesto</Link>
      <Link class="flex-auto max-w-72" alt>Descubre nuestras soluciones</Link>
    </div>
  </article>
</section>
