---
import Link from "@/components/Link.astro";
---

<section
  id="totems-de-aluminio"
  class:list={[
    "relative flex flex-col items-center pt-32",
    "before:pointer-events-none before:absolute before:top-0 before:z-10 before:h-full before:w-full before:bg-gradient-to-b before:from-neutral-950 before:to-transparent",
  ]}
>
  <article class="z-10 flex max-w-7xl items-center justify-center gap-20">
    <div class="flex grow flex-col gap-6">
      <h2 class="text-4xl font-bold">
        Alquiler de tótems de aluminio con base de hormigón para eventos
      </h2>
      <p>
        En SGL Vilanova, ofrecemos el alquiler de <strong
          >tótems de aluminio</strong
        > con <strong>base de hormigón</strong>, una solución robusta y segura
        para tus eventos. Diseñados y certificados por nosotros, estos tótems
        cumplen con la normativa vigente, ofreciendo estabilidad y durabilidad
        para montar estructuras como escenarios y carpas. Adaptables a eventos
        de cualquier tamaño, son la opción perfecta para garantizar la seguridad
        y éxito de tu evento.
      </p>

      <p class="mt-6">Certificaciónes de seguridad</p>

      <ul class="flex items-center gap-8">
        <li>
          <img src="/tuv-rheinland.webp" alt="TÜV Rheinland" class="h-16" />
        </li>
        <li>
          <img
            src="/hormigon-expert.png"
            alt="Hormigon Expert Anefhop"
            class="h-20"
          />
        </li>
        <li>
          <img src="/fantek.svg" alt="Fantek Industrial" class="h-8" />
        </li>
      </ul>
    </div>

    <aside class="aspect-[4/3] w-1/2 shrink-0 overflow-clip rounded-3xl">
      <img
        src="/totem-de-aluminio-w.jpg"
        alt="Alquiler de tótems de aluminio"
        class="size-full object-cover"
      />
    </aside>
  </article>

  <div
    class="mt-20 flex w-full max-w-7xl items-center justify-between border-t border-neutral-50/10 pb-20 pt-10"
  >
    <p class="max-w-2xl text-xl">
      La base de hormigón es un diseño creado por SGL Vilanova y certificado
      para garantizar la estabilidad y seguridad de los tótems de aluminio. Si
      lo deseas puedes ver el dossier técnico de nuestras estructuras en el
      siguiente enlace.
    </p>

    <Link href="/Dossier-tecnic_SGL-Vilanova.pdf" target="_blank">
      Ver el dossier técnico
    </Link>
  </div>
</section>
