---
import Exp from "@/assets/Exp.astro";
import Link from "@/components/Link.astro";
---

<section
  id="totems-de-aluminio"
  class:list={[
    "relative flex flex-col items-center pt-32",
    "before:pointer-events-none before:absolute before:top-0 before:z-10 before:h-full before:w-full before:bg-gradient-to-b before:from-neutral-950 before:to-transparent",
  ]}
>
  <article
    class="z-10 flex max-w-7xl flex-col items-center justify-center gap-20 px-6 text-center md:flex-row md:text-left"
  >
    <div class="flex grow flex-col gap-6">
      <h2 class="text-3xl font-bold md:text-4xl">
        Alquiler de tótems de aluminio con base de hormigón para eventos
      </h2>
      <p>
        En SGL Vilanova, ofrecemos el alquiler de <strong
          >tótems de aluminio</strong
        > con <strong>base de hormigón</strong>, una solución robusta y segura
        para tus eventos. , estos tótems cumplen con la normativa vigente,
        ofreciendo estabiullidad y durabilidad para montar estructuras como
        escenarios y carpas.
      </p>

      <ul class="flex flex-col items-start text-neutral-400">
        <li
          class:list={[
            "relative flex items-center gap-1 py-2",
            "before:absolute before:bottom-0 before:left-0 before:h-px before:w-20 before:bg-neutral-50/10",
          ]}
        >
          <Exp class="h-4 text-sgl" />
          <p>Diseño exclusisvo diseñado por SGL Vilanova</p>
        </li>
        <li
          class:list={[
            "relative flex items-center gap-1 py-2",
            "before:absolute before:bottom-0 before:left-0 before:h-px before:w-20 before:bg-neutral-50/10",
          ]}
        >
          <Exp class="h-4 text-sgl" />
          <p>Certificado de seguridad</p>
        </li>
        <li class="flex items-center gap-1 py-2">
          <Exp class="h-4 text-sgl" />
          <p>Cumplimiento de normativa vigente</p>
        </li>
      </ul>
    </div>

    <aside
      class="aspect-square w-full shrink-0 overflow-clip rounded-xl md:w-1/3"
    >
      <img
        src="/totem-de-aluminio-w.jpg"
        alt="Alquiler de tótems de aluminio"
        class="size-full object-cover"
      />
    </aside>
  </article>

  <div
    class="mt-20 flex w-full max-w-7xl flex-col items-center justify-center border-b border-t border-neutral-50/10 px-6 py-10 text-center"
  >
    <p class="max-w-4xl text-xl">
      La base de hormigón es un diseño creado por SGL Vilanova y certificado
      para garantizar la estabilidad y seguridad de los tótems de aluminio. Si
      lo deseas puedes ver el dossier técnico de nuestras estructuras en el
      siguiente enlace.
    </p>

    <Link
      href="/Dossier-tecnic_SGL-Vilanova.pdf"
      target="_blank"
      class="mt-8 max-w-72 flex-auto"
    >
      Ver el dossier técnico
    </Link>

    <p class="mt-12">Certificaciones de segurirar para nuestros totems</p>

    <ul
      class="mt-8 flex items-center justify-center gap-8 saturate-50 md:justify-start"
    >
      <li>
        <img src="/tuv-rheinland.webp" alt="TÜV Rheinland" class="h-16" />
      </li>
      <li>
        <img
          src="/hormigon-expert.png"
          alt="Hormigon Expert Anefhop"
          class="h-20 -translate-y-2"
        />
      </li>
      <li>
        <img src="/fantek.svg" alt="Fantek Industrial" class="h-8" />
      </li>
    </ul>
  </div>
</section>
