<section
  class:list={[
    "relative flex min-h-screen flex-col items-center justify-center",
    "before:absolute before:top-0 before:w-full before:h-full before:bg-gradient-to-b before:from-neutral-900 before:z-10 before:to-transparent",
  ]}
></section>
