---
import Cert from "@/assets/Cert.astro";
import Custom from "@/assets/Custom.astro";
import Eco from "@/assets/Eco.astro";
import Link from "@/components/Link.astro";
---

<section
  id="instalaciones-electricas"
  class="flex flex-col items-start justify-center pt-32 md:items-center"
>
  <article
    class="z-10 flex max-w-7xl flex-col justify-center px-6 text-center md:items-center"
  >
    <div class="flex max-w-4xl flex-col items-center">
      <h2 class="max-w-3xl text-3xl font-bold md:text-4xl">
        Instalaciones eléctricas temporales para eventos
      </h2>
      <p class="mt-6">
        Las <strong>instalaciones eléctricas temporales</strong> de SGL Vilanova
        están diseñadas para ofrecer soluciones de <strong
          >electricidad segura y eficiente para eventos</strong
        >. Desde el suministro hasta la certificación final, nos encargamos de
        todo para que tu evento se desarrolle sin contratiempos.
      </p>
    </div>

    <ul
      class="mt-12 grid grid-cols-1 gap-8 text-neutral-400 md:grid-cols-3"
    >
      <li
        class="flex flex-col items-center justify-center gap-4 self-stretch p-8 text-center"
      >
        <Custom class="h-10 text-sgl" />
        <p>
          <strong>Soluciones personalizadas</strong> para el tipo de evento que necesites
        </p>
      </li>

      <li
        class="flex flex-col items-center justify-center gap-4 self-stretch p-8 text-center"
      >
        <Cert class="h-10 text-sgl" />
        <p>
          <strong>Equipos certificados</strong> para asegurar la instalación eléctrica
        </p>
      </li>

      <li
        class="flex flex-col items-center justify-center gap-4 self-stretch p-8 text-center"
      >
        <Eco class="h-10 text-sgl" />
        <p>
          <strong>Cumplimiento de normativas</strong> y garantía de instalación
        </p>
      </li>
    </ul>

    <p class="mt-12 max-w-2xl text-xl">
      Si necesitas <strong>instalaciones eléctricas para eventos</strong>, no
      dudes en contactarnos para una solución a medida.
    </p>
    <Link href="#contact" class="max-w-72 flex-auto mt-8">
      Solicita tu presupuesto
    </Link>
  </article>
</section>
