---
import Link from "@/components/Link.astro";
---

<section
  id="totems-de-aluminio"
  class:list={[
    "relative flex flex-col items-center",
    "before:absolute before:top-0 before:z-10 before:h-full before:w-full before:bg-gradient-to-b before:from-neutral-900 before:to-transparent",
  ]}
>
  <article
    class="z-10 flex max-w-7xl gap-20 justify-center items-center pt-32"
  >
    <div class="flex flex-col grow gap-6">
      <h2 class="text-4xl font-bold">
        Alquiler de Tótems de Aluminio con Base de Hormigón para Eventos
      </h2>
      <p>
        En SGL Vilanova, ofrecemos el alquiler de <strong
          >tótems de aluminio</strong
        > con <strong>base de hormigón</strong>, una solución robusta y segura
        para tus eventos. Diseñados y certificados por nosotros, estos tótems
        cumplen con la normativa vigente, ofreciendo estabilidad y durabilidad
        para montar estructuras como escenarios y carpas. Adaptables a eventos
        de cualquier tamaño, son la opción perfecta para garantizar la seguridad
        y éxito de tu evento.
      </p>
    </div>

    <aside class="w-1/3 aspect-square shrink-0 rounded-3xl overflow-clip">
      <img src="" alt="Alquiler de tótems de aluminio" class="size-full object-cover bg-black" />
    </aside>
  </article>

  <ul class="grid grid-cols-3 gap-8 max-w-7xl text-center mt-10">
    <li>
      <strong>Diseño propio y certificado</strong>, garantizando cumplimiento
      con la normativa.
    </li>
    <li>
      <strong>Estabilidad excepcional</strong> con base de hormigón para garantizar
      la seguridad.
    </li>
    <li>
      <strong>Versatilidad</strong> para eventos pequeños o grandes, adaptados a
      tus necesidades.
    </li>
  </ul>

  <Link href="#contacto"> Solicita tu presupuesto personalizado </Link>
</section>
